<%
#set user's curLevel to 3
#remove the giant's femur
c.execute("UPDATE users SET curLevel='3', itemB='None' WHERE id=?",(userID))

db.commit()
%>

<!DOCTYPE html>
<html lang = "en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Monster slain!</title>
	<link rel="stylesheet" href="/static/NotLightSoulsTheme.min.css" />
	<link rel="stylesheet" href="/static/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <p>
        As the monster sprints toward you, you pull out the giant's femur you found and begin a swinging motion.
    <br></br>
        Using all the power you can muster, you swing your weapon and aim in the monster's general direction.
        After two loud snaps, you see both the femur and the monster's neck have snapped in half.
    </p>

    <button type = "button"
        onclick = "document.location.href = '/intro/3/{{userID}}'">
        Onward!
    </button>
</body>
</html>