<% #GET THE USER'S USERNAME USING THEIR ID
result = c.execute("SELECT uName FROM users WHERE id=?",(userID,))

for record in result:
    username = record[0]
end
%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Introduction</title>
	<link rel="stylesheet" href="/static/NotLightSoulsTheme.min.css" />
	<link rel="stylesheet" href="/static/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <div data-role="header" data-position="inline">
  Welcome to the fight, {{username}}!
  </div>

  <p>
  As the country's greatest warrior, you wake to the sound of chaos outside your door.
  You step outside to see the town all but decimated, hearing the screams of the townspeople and a thunderous, maniacal laugh from
  the castle at the center of the town.
  </p>
  <p>
  Behind you, you hear an deep, ominous rumble with the occasional blood-curdling scream. You turn around to see what looks like a
  pitch-black fog encircling the town and rushing toward its center. A man with an injured leg gets caught in the fog and you watch
  with horror as his skin and muscle melt off his bones.
  </p>

  <p>
  With the fog closing in, the only hope you have is to rush to the castle and pray that killing the leader will end the destruction.
  </p>

  <button type = "button"
          onclick ="document.location.href = '/itemApage/{{userID}}'">
          Sprint through the old market
  </button>

</body>
</html>
