<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Introduction</title>
</head>
<body>
  <p>
  Hey there {{ username }}, uhhh that's your name, right?
  <br></br>
  There's a giant butthead inside the castle at the center of the town.

  Your objective is to kill him and save all the peeps.

  You are constantly being chased by some shadowy ish. It looks dangerous.

  Your story begins on the outskirts of town, just after you realize you gotta dip like NOW.
  </p>

  <button type = "button"
          onclick ="document.location.href = '/showDB'">
          Show! That! Database!!!
  </button>

</body>
</html>
