<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login/Create User</title>
	<link rel="stylesheet" href="static/NotLightSoulsTheme.min.css" />
	<link rel="stylesheet" href="static/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="a">
  <div data-role="header" data-position="inline">
      <h1>(!Light) Souls</h1>
  </div>

  <h3>Login/Create User</h3>

  <p>
      NOTE: A new user will be created if you have not previously created one. Be sure to type your username and password carefully.
  </p>
  <form action = "/login" method = "post">
    <label>Username:</label>
    <input type = "text" name = "username">
    <br />

    <label>Password:</label>
    <input type = "password" name = "password">
    <br />

    <button>submit</button>
  </form>
</div>
</body>
</html>
