<%
""" connect to database and query all users """
result = c.execute("SELECT * FROM users")
%>

<!DOCTYPE html>
<html lang = "en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FULL DATABASE</title>
	<link rel="stylesheet" href="/static/NotLightSoulsTheme.min.css" />
	<link rel="stylesheet" href="/static/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <h1>Show users</h1>
    <table border = "1">
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>password</th>
            <th>curLevel</th>
            <th>deathCount</th>
            <th>itemA</th>
            <th>itemB</th>
            <th>itemC</th>
            <th>victor</th>
        </tr>
        %for record in result:
        <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
            <td>{{ record[6] }}</td>
            <td>{{ record[7] }}</td>
            <td>{{ record[8] }}</td>
        </tr>
        %end
    </table>

    <button type = "button"
            onclick = "document.location.href = '/login'">
        return to login
    </button>
</body>
</html>